# snippet fa "font-awesome" w
# <i class="fa fa-${1}" aria-hidden="true"></i>
# endsnippet
#
# snippet fas "font-awesome" w
# <i class="fas fa-${1}" aria-hidden="true"></i>
# endsnippet
#
# snippet far "font-awesome" w
# <i class="far fa-${1}" aria-hidden="true"></i>
# endsnippet
#
# snippet fab "font-awesome" w
# <i class="fab fa-${1}" aria-hidden="true"></i>
# endsnippet
#
# snippet ph "placeholder image" w
# <img src="http://via.placeholder.com/${1:width}x${2:height}">
# endsnippet
